@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* NAVBAR */
a {
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logotipo{
    display: flex;
    margin-right: 300px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
    background-color: #121212;
    height: 12vh;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); 
}

.nav-lista{
    list-style: none;
    display: flex;
}

.nav-lista li{
    letter-spacing: 3px;
    margin-left: 32px;
}
/* PAGINA PRINCIPAL */
body{
    background-color: #d9d9d9;
    font-family: 'Poppins','Nunito-Sans';
    scroll-behavior: smooth;
}

/* Estilos para o elemento canvas do gráfico */
.dashboard {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Estilos para o rótulo da legenda */
  .chart-legend {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins';
  }

  /* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #f1e9e9;
}

*::-webkit-scrollbar-thumb {
	background-color: #121212;
	border-radius: 10px;
	border: 3px solid #ffffff;
}